# Prevent apache from trying to execute the files it should be serving as plain text
AddType text/css .css

<Files ~ "*.sh">
  Require all denied
</Files>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.cgi$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} .*\.sh$
RewriteRule . /index.cgi [L]
</IfModule>
