p { margin:0px; border:0px;}
h1 { text-align:center;}
h2 { text-align:center; color:#444;}
body { font-family:serif;}
table { width:30%; margin-left:30%;}
.con { margin-left:20%;}
.nav {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:20%;
  text-align:center;
  background-color:grey;
  font-size: 15px;
}
.nav p {
  width=100%
  padding:10px;
  font-weight:bold;
  font-size: inherit;
  color:white;
  background-color:black;
}
.nav p:hover {
  font-size: inherit;
  background-color:white;
  color:black
}
.nav p a { color: inherit; background-color: inherit;}
